{% extends "layouts/index.html.twig" %}
{% block title %}
    {% trans %}Fermentations{% endtrans %}
{% endblock %}
{% block content %}
<h1 class="mt-4 mb-3">
    {% trans %}Fermentations{% endtrans %}
    <a href="{{ path('ui_fermentations_add') }}" class="btn btn-success float-md-right">
        {% trans %}Add fermentation{% endtrans %}
    </a>
</h1>
<hr class="mb-3">

{% if data %}

<table class="table table-striped table-hover table-responsive">
  <thead class="thead-dark">
    <tr>
        <th>
            {% trans %}Name{% endtrans %}
        </th>
        <th class="text-center">
            {% trans %}Temperature{% endtrans %}
        </th>
        <th class="text-center">
            {% trans %}Angle{% endtrans %}
        </th>
        <th class="text-center">
            {% trans %}Gravity{% endtrans %}
        </th>
        <th class="text-center">
            {% trans %}Trubidity{% endtrans %}
        </th>
        <th class="text-right">
            {% trans %}Actions{% endtrans %}
        </th>
    </tr>
  </thead>
  <tbody>

{% for ferm in data %}
    <tr class="">
        <td>
            <a href="{{ path('ui_fermentations_show', {'fermentation': ferm.id|optimus}) }}">
                {{ ferm.name|e }}
                <small class="text-muted">({{ ferm.hydrometer|e }})</small>
                <br>
                <small class="text-muted">{% trans %}Last activity{% endtrans %}: {{ ferm.activity }}</small><br>
                <small>
                    {{ ferm.begin|e }}
                    &ndash;
                    {% if ferm.ending is empty %}
                        {{ ferm.activity }}
                    {% else %}
                        {{ ferm.ending }}
                    {% endif %}
                </small>
            </a>
        </td>
        <td class="text-center">

            {% if ferm.temperature %}
                &#216;
                {{ ferm.temperature|format(ferm.metricTemperature)|e }}
                <br>
                <small class="text-muted">
                    {{ ferm.min_temperature|format(ferm.metricTemperature)|e }}
                    &ndash;
                    {{ ferm.max_temperature|format(ferm.metricTemperature)|e }}
                </small>
            {% else %}
                &hellip;
            {% endif %}
        </td>
        <td class="text-center">
            {% if ferm.max_angle %}
                <small class="text">
                    {{ ferm.max_angle|format("°")|e }}
                    &rarr;
                    {{ ferm.min_angle|format("°")|e }}
                </small>
            {% else %}
                &hellip;
            {% endif %}
        </td>
        <td class="text-center">
            {% if ferm.max_gravity %}
                <small class="text">
                    {{ ferm.max_gravity|format(ferm.metricGravity)|e }}
                    &rarr;
                    {{ ferm.min_gravity|format(ferm.metricGravity)|e }}
                </small>
            {% else %}
                &hellip;
            {% endif %}
        </td>
        <td class="text-center">
            {% if ferm.max_trubidity %}
                <small class="text">
                    {{ ferm.min_trubidity|format|e }}
                    &rarr;
                    {{ ferm.max_trubidity|format|e }}
                </small>
            {% else %}
                &hellip;
            {% endif %}
        </td>
        <td class="text-right">
            <div class="btn-group">
                <a class="btn btn-secondary btn-sm" href="{{ path('ui_fermentations_edit', {'fermentation': ferm.id|optimus}) }}">
                {% trans %}edit{% endtrans %}</a>
                <a class="btn btn-sm btn-primary" href="{{ path('ui_fermentations_show', {'fermentation': ferm.id|optimus}) }}">details</a>
            </div>
            &nbsp;
            {{ form_start(form, {
                'method': 'DELETE',
                'action': path('ui_fermentations_delete', {'fermentation': ferm.id|optimus}),
                'attr': {'class': 'form-delete'}
            })}}
            <button class="close" type="submit" onclick="if (!confirm('Are you sure?')) {
                return false;
            }"><span aria-hidden="true">&times;</span></button>
            {{ form_end(form) }}

        </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% else %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead">
            {% trans %}Group your data into fermentations. This allows to archive past beers in order to keep a detailled log.{% endtrans %}
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg ml-auto mr-0" href="{{ path('ui_fermentations_add') }}" role="button">
        {% trans %}Add your first fermentation{% endtrans %}</a>
      </div>
    </div>
{% endif %}
{% endblock %}
