{% extends "layouts/public.html.twig" %}

{% block title %}
    {{ fermentation.getName }}
    -
    {% trans %}Fermentation{% endtrans %}
{% endblock %}

{% block content %}
<h1 class="mt-4 mb-3">
    {% trans %}Fermentation{% endtrans %}
</h1>
<hr class="mb-3">
<h2 class="mt-4 mb-3">
    {{ fermentation.getName|e }}
    <small class="text-muted float-md-right">
        {{ fermentation.getBegin|date('Y-m-d') }}
        &ndash;
        {{ fermentation.getEnd|date('Y-m-d') }}
    </small>
</h2>
<hr class="mb-3">

<div class="card">
    <div class="card-header">
        {{ name|e }}
    </div>
    <div class="card-body">
        <div id="chart"></div>
    </div>
    <div class="card-body">
        {% trans %}Fermentation seems to be stable since{% endtrans %}: {{ stable }}.
    </div>
</div>
<script>
    var chart = c3.generate({
        bindto: '#chart',
        data: {
          x: 'time',
          xFormat: '%Y-%m-%d %H:%M',
          columns: [
{% for key, value in  data %}
{% set identifier = [key] %}
{% set row = identifier|merge(value) %}
{{ row|json_encode()|raw }},
{% endfor %}
          ],
            axes: {
              temperature: 'y',
              gravity: 'y2'
            }
        },
        colors: {
            temperature: '#d9534f',
            trubidity: '#f0ad4e',
            gravity: '#0275d8',
            battery: '#5bc0de',
            angle: '#5cb85c'
        },
        axis: {
            x: {
                label: {
                    text: 'Date',
                    position: 'inner-center'
                },
                type : 'timeseries',
                tick: {
                    format: '%Y-%m-%d %H:%M',
                    count: 100,
                    fit: true
                }
            },
            y: {
                label: {
                    text: 'Temperature ({{ fermentation.getHydrometer.getMetricTemperature|e }} )',
                    position: 'outer-middle',
                    fit: true
                }
            },
            y2: {
                label: {
                    text: 'Extract ({{ fermentation.getHydrometer.getMetricGravity|e }})',
                    position: 'outer-middle',
                    fit: false
                },
                show: true
            }
        },
        grid: {
            y: {
                show: true
            }
        },
        zoom: {
            enabled: true
        }
    });
</script>
{% endblock %}
