{% extends "layouts/index.html.twig" %}

{% block title %}
    {% trans %}Hydrometers{% endtrans %}
{% endblock %}

{% block content %}
<h1 class="mt-4 mb-3">
    {% trans %}Setup device{% endtrans %}
</h1>
<hr class="mb-3">

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#intro" role="tab">{% trans %}Intro{% endtrans %}</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}iSpindle{% endtrans %}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" data-toggle="tab" role="tab" href="#ispindel-tcp" aria-expanded="true" aria-controls="#ispindel-tcp">{% trans %}TCP{% endtrans %}</a>
          <a class="dropdown-item" data-toggle="tab" role="tab" href="#ispindel-http" aria-expanded="true" aria-controls="#ispindel-http">{% trans %}HTTP{% endtrans %}</a>
        </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tilt" role="tab">{% trans %}TILT{% endtrans %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#plaato" role="tab">{% trans %}Plaato{% endtrans %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#beerbug" role="tab">{% trans %}Beerbug{% endtrans %}</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="intro" role="tabpanel">
    <div class="card">
        <div class="card-header">
            {% trans %}Setup{% endtrans %}
        </div>
        <div class="card-body">
            <p>
                {% trans %}Your generated token is{% endtrans %}:<br>
                <strong>{{ hydrometer.getToken.getValue }}</strong>
            </p>
            <p>
                {% trans %}Please select your device-type to get detailled setup instructions.{% endtrans %}
            </p>
        </div>
    </div>
  </div>
  <div class="tab-pane" id="ispindel-tcp" role="tabpanel">
    <div class="card">
        <div class="card-header">
            {% trans %}iSpindle TCP{% endtrans %}
        </div>
        <div class="card-body">
            <ol>
                <li class="card-text">{% trans %}Put iSpindle into configuration mode by pressing reset{% endtrans %}</li>
                <li class="card-text">{% trans %}Open the configuration page and put in:{% endtrans %}</li>
                <li class="card-text">
                    <dl>
                        <dt>{% trans %}Service type{% endtrans %}</dt>
                        <dd>{% trans %}TCP{% endtrans %}</dd>

                        <dt>{% trans %}Token{% endtrans %}</dt>
                        <dd>{{ hydrometer.getToken.getValue }}</dd>

                        <dt>{% trans %}Server address{% endtrans %}</dt>
                        <dd>{{ app.request.getHttpHost() }}</dd>

                        <dt>{% trans %}Server port{% endtrans %}</dt>
                        <dd>{{ TCP_API_PORT }}</dd>
                    </dl>
                </li>
            </ol>
        </div>
    </div>
  </div>
  <div class="tab-pane" id="ispindel-http" role="tabpanel">
    <div class="card">
        <div class="card-header">
            {% trans %}iSpindle HTTP{% endtrans %}
        </div>
        <div class="card-body">
            <ol>
                <li class="card-text">{% trans %}Put iSpindle into configuration mode by pressing reset{% endtrans %}</li>
                <li class="card-text">{% trans %}Open the configuration page and put in:{% endtrans %}</li>
                <li class="card-text">
                    <dl>
                        <dt>{% trans %}Service type{% endtrans %}</dt>
                        <dd>{% trans %}HTTP{% endtrans %}</dd>

                        <dt>{% trans %}Server URL{% endtrans %}</dt>
                        <dd>
                            {{ path('api-post-spindle', {'token': hydrometer.getToken.getValue}) }}
                        </dd>

                        <dt>{% trans %}Server address{% endtrans %}</dt>
                        <dd>{{ app.request.getSchemeAndHttpHost() }}</dd>

                        <dt>{% trans %}Server port{% endtrans %}</dt>
                        <dd>80</dd>
                    </dl>
                </li>
            </ol>
        </div>
    </div>
  </div>
  <div class="tab-pane" id="tilt" role="tabpanel">
      <div class="card">
        <div class="card-body">
              <ol>
                <li class="card-text">{% trans %}Open TILT app on your phone and enter settings.{% endtrans %}</li>
                <li class="card-text">{% trans %}Choose color of your tilt{% endtrans %}</li>
                <li class="card-text">
                    <dl>
                        <dt>{% trans %}Logging URL{% endtrans %}</dt>
                        <dd>
                            {{ absolute_url(path('api-post-tilt', {'token': hydrometer.getToken.getValue})) }}
                        </dd>
                    </dl>
                </li>
            </ol>
        </div>
      </div>
  </div>
  <div class="tab-pane" id="plaato" role="tabpanel">
      <div class="card">
          <div class="card-header">
              {% trans %}Plaato{% endtrans %}
          </div>
          <div class="card-body">
              {% trans %}Apparently the Plaato device is not yet supported.{% endtrans %}
          </div>
      </div>
  </div>
  <div class="tab-pane" id="beerbug" role="tabpanel">
    <div class="card">
        <div class="card-header">
            {% trans %}Beerbug{% endtrans %}
        </div>
        <div class="card-body">
            {% trans %}Apparently the Beerbug device is not yet supported.{% endtrans %}
        </div>
    </div>
  </div>
</div>

{% endblock %}
